* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
}

body {
  width: 100%;
  background-image: url("../assets/images/BKG_Flat_modernArchitectureWave.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-size: 2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--white-color);
  padding: 5px 0px 0px;
  font-style: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Montserrat", Futura, Helvetica, Arial, sans-serif;
  color: var(--white-color);
}

h3 {
  font-size: 1.25rem;
  font-family: "Montserrat", Futura, Helvetica, Arial, sans-serif;
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-family: "Montserrat", Futura, Helvetica, Arial, sans-serif;
  color: var(--white-color);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style-type: none;
  margin: 10px 0px
}

li {
  color: white;
}

li:last-child {
  border-bottom: none;
}

button {
  margin: 0px 0px;
  height: 1.2rem;
  text-align: left;
  color: white;
  background: #00515100 ;
  border: 0;
  display: flex;
  gap: 5px;
  align-items: center;
}

li button {
  width: 100%;
}

.tooltip {
  position: relative;
}

.tooltip:hover .tooltiptext {
  opacity: 0.95;
  transition: opacity 0.3s 1.5s;
}

.tooltip .tooltiptext {
  visibility: visible; /* Hidden by default */
  overflow: visible;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  border: 1px solid #BDBDC0;
  padding: 5px;
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s 0s;
  font-size: 0.7rem;
}

li:hover {
  background: #96969628;
}

.active {
  padding: 0px 0px 0px 5px;
  background-image: linear-gradient(45deg, #23a6d510, #23d5ab80);
  background-size: 200% 200%;
  -webkit-animation: gradient 5s ease infinite;
  animation: gradient 5s linear infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 100%;
	}
	50% {
		background-position: 100% 200%;
	}
	100% {
		background-position: 200% 300%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}